*{
    font-family:'Times New Roman', Times, serif;
}

header:hover {
  transform: translateY(-3px); /* OK  */
  box-shadow: 0 4px 16px  #283618; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

header {
    margin-bottom: 20px;
    background-image: url(../img/bandeau.jpg);
    background-size: 100%;
    padding: 20px;
    border-radius: 20px;
}

a{
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#photoID {
    height: 200px;
    width: fit-content;
    border-radius: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

#nom {
    margin-bottom: 5px;
}

#titre {
    margin-bottom: 10px;
}

#navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.nav {
    color: #fdfbf3 !important;
    font-weight: bold;
}

.link:hover {
  transform: translateY(-3px); /* OK  */
  box-shadow: 0 4px 16px  #283618; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.link{
    margin: 10px;
    background-color: rgb(34, 48, 43);
    border-radius: 5px;
    padding: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 0;
    overflow: hidden;
}

aside:hover {
  transform: translateY(-3px); /* OK  */
  box-shadow: 0 4px 16px  #283618; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

#aside1 {
    width: 25%;
    padding: 20px;
    margin: 10px;
    background-color: rgb(238, 240, 243);
    order: 2;
    border-radius: 20px;
}

#aside2 {
    width: 75%;
    padding: 20px;
    margin: 10px;
    border: 2px double rgb(34, 48, 43);
    order: 1;
    background-color: #fdfbf3;
    border-radius: 20px;
}

section{
    margin-bottom: 20px;
    padding: 10px;
}

h2{
    text-align: center;
}

table{
    border-radius: 5px;
}

th, td{ 
    border: 2px solid rgb(34, 48, 43);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

thead{
    background-color: rgb(34, 48, 43);
    color: rgb(233, 235, 238);
}

tbody{
    text-align: left;
    background-color: #fdfbf3;
}

.side:hover {
    transform: translateY(-3px); /* OK  */
    box-shadow: 0 4px 16px  #283618; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.side{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border: 2px double rgb(34, 48, 43);
    background-color: #fdfbf3;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.blacklinks {
    color: rgb(0, 0, 0) !important;
    text-decoration: underline;
}

footer{
    display: block;
    position: fixed;
    margin-top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    text-align: center;
    align-items: center;
    font-style: italic;
}

#logotop{
    height: 15px;
    width: auto;
}
