* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html {
  scroll-behavior: smooth; 
}

h1, h2, h3, h4 {
    font-family: 'Trebuchet MS', sans-serif; 
    color : #606C38
}

body {
  font-family: Georgia, sans-serif; 
  line-height: 1.5; 
  color: #283618;
  background-color: #fefae0;
}


a {
  color: #bc6c25; 
  text-decoration: none; 
}

a:hover {
  color: #dda15e; 
}

.site-header {
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  background: #DDA15E; 
  filter: opacity(95%);
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 10px 20px; 
  box-shadow: 0 2px 6px #BC6C25; 
}


.site-title {
  font-family: 'Trebuchet MS', sans-serif; 
  font-size: 35px; 
  color: #283618; 
}

.main-nav {
  display: flex; 
  flex-direction: row; 
  gap: 20px; 
}

.main-nav a {
  background-color: #BC6C25; 
  color: #FEFAE0; 
  padding: 10px 20px; 
  border-radius: 8px; 
  font-weight: bold; 
  transition: all 0.3s ease; 
}

.main-nav a:hover {
  background-color: #FEFAE0; 
  color: #DDA15E; 
  transform: translateY(-3px); 
}

.page-wrap {
  max-width: 1100px; 
  margin: 20px auto; 
  padding: 0 15px; 
  display: flex; 
  flex-direction: column; 
  gap: 20px; 
}

section {
  border-radius: 12px; 
  padding: 25px; 
  box-shadow: 0 2px 8px #606C38; 
  background: white; 

}

section:hover {
  transform: translateY(-3px); /* OK  */
  box-shadow: 0 4px 16px  #283618; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

section h2 {
  font-size: 30px; 
  border-bottom: 2px solid #BC6C25; 
  padding-bottom: 10px; 
  margin-bottom: 15px; 
}

p {
  margin-bottom: 25px; 
  line-height: 1.5; 
  font-size: 18px; 
}

section img {
  width: 100%; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px #283618; 
}

figure {
  text-align: center; 
  margin: 20px auto; 
}

.menu-items {
  display: flex; 
  flex-direction: column; 
  gap: 30px; 
}

.plat h3 {
  margin-bottom: 7px; 
}

.recette h4 {
  margin-top: 15px; 
}

ul, ol {
  margin: 20px 0px 0px 20px
}

#contact-form {
  display: flex; 
  flex-direction: column; 
  gap: 15px; 
  max-width: 700px; 
  margin-top: 15px; 
}

#contact-form label {
  font-weight: bold; 
}

#contact-form input, #contact-form textarea {
  border: 2px solid #DDA15E; 
  border-radius: 8px; 
  padding: 13px; 
  font-size: 20px; 
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none; 
  border-color: #BC6C25; 
  box-shadow: 0 0 4px #283618; 
}

#contact-form button {
  background: #BC6C25; 
  color: #FEFAE0; 
  border: none; 
  padding: 15px 20px; 
  border-radius: 8px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

#contact-form button:hover {
  background: #DDA15E; 
  transform: translateY(-3px); 
}

.specialites li {
  list-style: none; 
  border-radius: 10px; 
  padding: 25px; 
  box-shadow: 0 2px 6px #283618; 
}

.specialites h3 {
  margin-bottom: 7px; 
}

footer {
  background: #DDA15E; 
  padding: 20px 25px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  border-top: 1px solid #BC6C25; 
}

footer p {
  color: #283618; 
  font-size: 15px; 
}

footer a {
  color: #283618; 
  transition: color 0.3s ease; 
}
footer a:hover {
  color: #606C38; 
}